ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
a h4,
h5,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  object-fit: cover;
  height: auto;
}

.button {
  display: block;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 5px 5px;
  background-color: rgba(1, 1, 1, 0);
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  min-width: 110px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .button {
    min-width: 125px;
    padding: 14px 5px;
  }
}
@media screen and (min-width: 1024px) {
  .button {
    min-width: 136px;
  }
}
.button__checked {
  color: #fff;
  background-color: #ff6b09;
  border: 1px solid transparent;
}

.button:not(:last-child) {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .button:not(:last-child) {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .button:not(:last-child) {
    margin-left: 16px;
  }
}

.btn__library {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 14px 5px;
  min-width: 129px;
}
@media screen and (min-width: 768px) {
  .btn__library {
    min-width: 152px;
  }
}
@media screen and (min-width: 1024px) {
  .btn__library {
    min-width: 148px;
  }
}

.btn__library:hover,
.btn__library:focus {
  background-color: #ff6b09;
  border: 1px solid transparent;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  color: #000;
}

main {
  flex-grow: 1;
}

link {
  text-decoration: none;
}
link:focus-visible {
  outline: none;
}
link:visited {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  fill: #000;
}

.section {
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}
.section .section-headre-hidden {
  position: fixed;
  transform: scale(0);
}

.no-scroll {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  background-size: cover;
  background-image: url("/bg-library-tel.75972cf5.jpg");
}
@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header {
    background-image: url("/bg-library-tel@2x.37aab0f6.jpg");
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url("/bg-library-tabl.94019755.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("/bg-library-tabl@2x.2f782fd7.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .header {
    background-image: url("/bg-library-dt.89ee2a0e.jpg");
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("/bg-library-dt@2x.c100a45a.jpg");
  }
}
.header__nav-link {
  display: flex;
  align-items: center;
}
.header__nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 66px;
}
@media screen and (min-width: 768px) {
  .header__nav-logo {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .header__nav-logo {
    margin-bottom: 40px;
  }
}
.header__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.header__nav-pages {
  display: flex;
  justify-content: flex-end;
}
.header__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #fff;
}
.header__list:not(:last-child) {
  margin-right: 40px;
}

.header__logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__logo {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
}

.current::after {
  content: "";
  margin-left: inherit;
  width: 69px;
  height: 3px;
  display: block;
  border-radius: 2px;
  background-color: #ff6b08;
}

.header__library-btn {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .gallery__container {
    margin-left: -16px;
    margin-top: -16px;
    display: flex;
    flex-wrap: wrap;
  }
}

.card__wrapper {
  cursor: pointer;
  border-radius: 5px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.98px) {
  .card__wrapper {
    margin: 0 auto;
    width: 280px;
  }
  .card__wrapper:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .card__wrapper {
    margin-left: 16px;
    margin-top: 16px;
    flex-basis: calc((100% - 48px) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .card__wrapper {
    flex-basis: calc((100% - 48px) / 3);
  }
}
.card__wrapper:hover {
  transition: all 0.3s;
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.2509803922);
}
.card__img {
  margin-bottom: 10px;
  width: 100%;
  height: 552px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card__title {
  padding-left: 10px;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
}
.card__content-wrapper {
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  color: #ff6b08;
}

.js-library-message {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  color: #545454;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 150ms linear, visibility 150ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.js-modal {
  width: 280px;
  padding: 40px 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .js-modal {
    padding: 40px 36px;
    display: flex;
    max-width: 704px;
  }
}
@media screen and (min-width: 1024px) {
  .js-modal {
    padding: 40px 16px;
    display: flex;
    max-width: 814px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  max-height: 96vh;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .modal {
    max-height: 560px;
  }
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.film__poster {
  border-radius: 5px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .film__poster {
    margin-right: 68px;
    margin-bottom: 0;
    width: 264px;
    height: 373px;
  }
}
@media screen and (min-width: 1024px) {
  .film__poster {
    margin-right: 16px;
    width: 375px;
  }
}
.film__name {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.15;
}
@media screen and (min-width: 1024px) {
  .film__name {
    font-size: 30px;
    line-height: 1.16;
  }
}
.film__details-list {
  margin-bottom: 20px;
}
@media screen and (max-width: 767.98px) {
  .film__details-list {
    width: 215px;
  }
}
.film__details-item {
  display: flex;
}
.film__details-item:not(:last-child) {
  margin-bottom: 8px;
}
.film__details-name {
  color: #8c8c8c;
  width: 50%;
  flex-shrink: 0;
}
.film__details-rating1 {
  padding: 1px 10px;
  border-radius: 4px;
  background-color: #ff6b08;
  color: #fff;
}
.film__details-rating2 {
  padding: 1px 4px;
  background-color: #f7f7f7;
}
.film__details-title {
  width: 50%;
  flex-shrink: 0;
}
.film__review-title {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}
.film__review {
  margin-bottom: 20px;
}
.film__btn-wrapper {
  display: flex;
}

.developers-wrap p {
  font-size: 16px;
  font-weight: 500;
  color: #ff6b08;
}
.developers-wrap li {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.75;
  color: #545454;
}

.pagination.section {
  margin: 0 auto;
  padding: 40px 0 60px 0;
}
@media screen and (max-width: 767.98px) {
  .pagination.section {
    padding: 20px 0 40px 0;
  }
}

body .tui-pagination {
  height: 40px;
  margin: 0;
}

body .tui-pagination .tui-page-btn {
  align-items: center;
  height: 40px;
  width: 40px;
  padding: 0;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 40px;
  color: #000;
  text-align: center;
}
body .tui-pagination .tui-page-btn.tui-prev, body .tui-pagination .tui-page-btn.tui-next {
  background-color: #f7f7f7;
  margin-right: 0;
  margin-left: 0;
}
body .tui-pagination .tui-page-btn.tui-is-selected {
  color: #fff;
  background-color: #ff6b09;
  border-left: none;
  border-right: none;
}
body .tui-pagination .tui-page-btn .tui-ico-ellip {
  margin-top: 0;
  vertical-align: middle;
}
body .tui-pagination .tui-page-btn.tui-first, body .tui-pagination .tui-page-btn.tui-last {
  display: none;
}
@media screen and (max-width: 767.98px) {
  body .tui-pagination .tui-page-btn.tui-prev-is-ellip, body .tui-pagination .tui-page-btn.tui-next-is-ellip {
    display: none;
  }
}

.footer {
  background-color: #f7f7f7;
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.1254901961);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75;
  color: #545454;
}
.footer.section {
  padding: 30px 0;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer__link {
  text-decoration: underline;
}
.footer__link:visited {
  color: currentColor;
}

/*# sourceMappingURL=/library.ceac6450.css.map */