.button {
  display: block;
  border: 1px solid $main-text-color;
  border-radius: 4px;
  padding: 5px 5px;
  background-color: $transparent-color;
  color: $main-text-color;

  text-transform: uppercase;

  cursor: pointer;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  min-width: 110px;
  text-align: center;

  @include mq(tablet) {
    min-width: 125px;
    padding: 14px 5px;
  }

  @include mq(desktop) {
    min-width: 136px;
  }

  &__checked {
    color: $white-text-color;
    background-color: $accent-btn-color;
    border: 1px solid transparent;
  }
}

.button:not(:last-child) {
  margin-right: 20px;

  @include mq(tablet) {
    margin-right: 32px;
  }

  @include mq(desktop) {
    margin-left: 16px;
  }
}

.btn__library {
  color: $main-bg-color;
  border: 1px solid $main-bg-color;
  padding: 14px 5px;

  min-width: 129px;

  @include mq(tablet) {
    min-width: 152px;
  }

  @include mq(desktop) {
    min-width: 148px;
  }
}

.btn__library:hover,
.btn__library:focus {
  background-color: $accent-btn-color;
  border: 1px solid transparent;
}
