//фон
$main-bg-color: #ffffff;
$footer-bg-color: #f7f7f7;
$accent-bg-color: #ff6b08;
$backdrop-color: rgba(0, 0, 0, 0.25);
$film-rating-bg: #f7f7f7;
$transparent-color: rgba(1, 1, 1, 0);

//шрифт
$main-text-color: #000;
$accent-text-color: #ff6b08;
$white-text-color: #fff;
$footer-text-color: #545454;
$list-text-color: #8c8c8c;

//кнопки
$accent-btn-color: #ff6b09;
$white-btn-color: #fff;
$grey-btn-color: #f7f7f7;

//роздільність екрану
$min-mobile-res: 320px;
$mobile-res: 480px;
$tablet-res: 768px;
$desktop-res: 1200px;
