<section class="gallery section">
  <h2 class="section-headre-hidden">Gallery</h2>
  <div class="container js-gallery">
    <div class="loading-block"></div>
    <ul class="gallery__container">
      <!-- <li class="card__wrapper">
        <img src="./images/1sm.jpg" alt="bla bla" class="card__img" />
        <h2 class="card__title">GREYHOUND</h2>
        <div class="card__content-wrapper">
          <p class="card__genre">Drama, Action</p>
          &nbsp;|&nbsp;
          <p class="card__year">2020</p>
        </div>
      </li> -->
    </ul>
  </div>
</section>
