<header class="section header">
  <div class="container">
    <nav class="header__nav-logo">
      <a href="/index.html" class="header__nav-link">
        <svg class="header__icon">
          <use href="/images/icons.svg#icon-film"></use>
        </svg>
        <span class="header__logo">Movie Land</span>
      </a>
      <ul class="header__nav-pages">
        <li class="header__list"><a href="/index.html" class="header__link">home</a></li>
        <li class="header__list">
          <a href="/library.html" class="header__link current">my library</a>
        </li>
      </ul>
    </nav>
    <div class="header__library-btn">
      <button class="button btn__library" type="button" name="watchedList">watched</button>
      <button class="button btn__library" type="button" name="queueList">queue</button>
    </div>
  </div>
</header>
