.header {
  background-size: cover;
  background-image: url('../images/bg-header/bg-library-tel.jpg');

  @include mq(retina) {
    background-image: url('../images/bg-header/bg-library-tel@2x.jpg');
  }

  @include mq(tablet) {
    background-image: url('../images/bg-header/bg-library-tabl.jpg');

    @include mq(retina) {
      background-image: url('../images/bg-header/bg-library-tabl@2x.jpg');
    }
  }

  @include mq(desktop) {
    background-image: url('../images/bg-header/bg-library-dt.jpg');

    @include mq(retina) {
      background-image: url('../images/bg-header/bg-library-dt@2x.jpg');
    }
  }
  &__nav-link {
    display: flex;
    align-items: center;
  }
  &__nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;

    @include mq(tablet) {
      margin-bottom: 40px;
    }
    @include mq(desktop) {
      margin-bottom: 40px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  &__nav-pages {
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $white-text-color;
  }
  &__list:not(:last-child) {
    margin-right: 40px;
  }
}

.header__logo {
  display: none;

  @include mq(tablet) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $white-text-color;
  }
}

.current::after {
  content: '';

  margin-left: inherit;
  width: 69px;
  height: 3px;
  display: block;
  border-radius: 2px;
  background-color: $accent-text-color;
}
.header__library-btn {
  display: flex;
  justify-content: center;
}

